/* Declaring CSS Variables */


/* it will help in future in case of redesign the site or changing the colors */

:root {
    --ui-brand: #E79166;
    --ui-blue: #1877F2;
    --ui-blue-hover: #1D6ACE;
    --ui-light-blue: #D2E6FF;
    --ui-light-blue-hover: #BAD4F6;
    --ui-base-text: #365969;
    --ui-base-p: #666666;
    --ui-success: #2DBD7D;
    --ui-error: #E06666;
    --ui-gradient: linear-gradient(225.7deg, rgba(107, 65, 227, 0.7) 33.6%, rgba(255, 255, 255, 0) 74.69%), #E79166;
    --ui-bg: #F8F8FB;
    --ui-light-grey1: #F1F1F3;
    --ui-light-grey2: #F6F6F6;
    --ui-light-grey3: #C4C4C4;
    --ui-dark-grey1: #8C8C8C;
    --ui-dark-grey2: #899AA1;
    --ui-dark-grey4: #666666;
    --white: #fff;
    --ui-disabled: #E6E6E6;
}

body {
    background: var(--ui-bg);
}


/* UI Font Sizes */

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

p {
    font-size: 15px;
    font-weight: 500;
    color: var(--ui-base-p);
}


/* Header */

header .site-header {
    background: #fff;
}


/* Header Search Bar */

.nav-searchbar input {
    background: var(--ui-light-grey1);
}

.nav-searchbar input,
.nav-searchbar input::placeholder {
    color: var(--ui-dark-grey1);
}

.nav-searchbar input:focus {
    background: var(--ui-light-grey1);
    box-shadow: none;
}

.nav-searchbar span.input-group-text {
    background: var(--ui-light-grey1);
    border: none;
}

.nav-searchbar span.input-group-text button {
    border-left: 1px solid #D2D2D2;
}

.user-area .img-uploader label {
    background: var(--ui-blue);
    color: #fff;
    border-radius: 50px;
    font-size: 11px;
    font-weight: 600;
    padding: 10px 14px;
    margin-bottom: 0;
}

.user-area .user-drop button {
    background: var(--ui-light-grey2);
    color: var(--ui-base);
}